@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp.Data
@inject WeatherForecastService ForecastService

<div class="container-fluid">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-md-2 col-sm-6 mb-1">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-6 mb-1">
            <input type="datetime-local" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-6 mb-1">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-6 mb-1 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-dark w-100">검색</button>
        </div>
    </div>
</div>


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
